//Variables & Function
@import 'variables';
@import 'functions';

// //Base & Layout
@import 'bace';
@import 'breakpoint';
@import 'grid';

// // Colors
@import 'colors';

//Components (Button, Card, Navbar)
@import 'components/card';
@import 'components/buttons';
@import 'components/navbar';

// //Utlilties (Margin, Padding, Opasity)
@import 'utilities';


// CSS GRID
.grid-container {
    background-color: azure;
    max-width: 990px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 150px 200px;
    gap: 10px;
    .col {
        background-color: beige;
        border: 1px solid #c6c6aa;
        text-align: center;
        padding: 25px;
        &:nth-child(1) {
            grid-column: 1 / span 2;
        }
        &:nth-child(2) {
            grid-column: span 3;
        }
        &:nth-child(4) {
            grid-column: 2 / span 3;
        }
        &:nth-child(5) {
            grid-column: 1 / span 3;
        }
    }
}