//Variables & Function
@import 'variables';
@import 'functions';

// //Base & Layout
@import 'bace';
@import 'breakpoint';
@import 'grid';

// // Colors
@import 'colors';

//Components (Button, Card, Navbar)
@import 'components/card';
@import 'components/buttons';
@import 'components/navbar';

// //Utlilties (Margin, Padding, Opasity)
@import 'utilities';


// CSS GRID
.blog-body {
    background-color: #fff4f8;
}
header{
    display: block;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
    background-color: map-get($colors, 'white');
    box-shadow: 0 5px 15px rgb(0 0 0 / 12%);
    nav {
        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            align-self: center;
            li {
                a {
                    color: $secondery;
                    text-decoration: none;
                    &:hover {
                        color: $s_dark;
                    }
                    &.my-logo {
                        font-size: $xl-font-size;
                        color: $s_dark;
                    }
                }
            }
        }
    }
}
article {
    max-width: 1400px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: 250px;
    .blog {
        background-color: map-get($colors, 'white');
        border-radius: $border-radus;
        padding: $base-padding;
        box-shadow: 0 5px 15px rgb(0 0 0 / 12%);
        overflow: hidden;
        &.sm {
            grid-row: span 1;
        }
        &.lg {
            grid-row: span 2;
        }
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px;
        color: $primary;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.6;
        color: $secondery;
    }
    .more-link {
        color: map-get($colors, 'blue');
        margin-top: $base-margin;
        display: inline-block
    }
    img{
        min-width: 100%;
        height: 100%;
    }
}




.gird-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    .grid-column {
        &.main {
            grid-column: span 3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            align-items: center;
            border-bottom: 1px solid $border-color;
            padding-bottom: 50px;
            .image {
                height: 300px;
            }
            .head {
                font-size: 2rem;
            }
        }
        .image {
            height: 200px;
            margin-bottom: 15px;
            border-radius: $border-radus ;
            border: 15px solid map-get($colors, 'white');
            box-shadow: 0 3px 15px 0 lighten(map-get($colors, 'black'), 80);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
        .head {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 15px;
            color: $primary;
        }
        .text {
            font-size: 0.9rem;
            line-height: 1.6;
            color: $secondery;
        }
    }
}


